.projects-contents{

  .projects{
    padding: 80px 0;
    background-color: $second-primary-color;
    display: flex;
    flex-direction: column;

    .project-box{
      position: relative;
      background: linear-gradient(30deg, $primary-color, transparent);
      min-height: 250px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img{
        width: 100%;
        margin-bottom: 20px;
      }
      &-info{
        z-index: 60;
      }
      &-overlay{
        visibility: hidden;
        position: absolute;
        width: 5px;
        height: 5px;
        background: $secondary-color;
        opacity: 0.98;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition-ease;

        a{
          padding: 10px;
          margin: 5px;
          color: $primary-color;
          font-weight: 600;
          transition: 0.2s all;

          &:hover{
            color: $light-color;
          }
        }
      }
    }
    .project-box:hover .project-box-overlay{
      visibility: visible;
      width: 200%;
      height: 200%;
    }
    .project-box:hover .project-box-info h4{
      color: $light-color;
    }
  }
}